{% extends "network/layout.html" %}


{% block body %}
    <h1>{{ request.resolver_match.kwargs.group.capitalize }}</h1>
    
    {% if not users %}
        <div style="display: flex; flex-direction: row; justify-content: center;">No one here yet.</div>
    {% endif %}
    
    <div class="users-div">
        {% for user in users %}
            <div class="user-div">
                <a href="{% url 'profile' user_id=user.id %}">
                    <img src="{{ user.image.url }}" alt="{{ user.first_name }}'s profile picture">
                </a>
                <div class="user-div-text">
                    <div class="user-div-text-name"><a href="{% url 'profile' user_id=user.id %}"><b>{{ user.first_name }}</b></a></div>
                    <div class="user-div-text-username"><a href="{% url 'profile' user_id=user.id %}">@{{ user.username }}</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
